@inherits LayoutComponentBase
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<style>
    body{
        background-color:blueviolet
    }
</style>

<div class="container">
    <div class="col-md-12" style="display:flex">
        <div  class="col-md-3" style="width:40%"><span>    </span></div>

        <div class="col-md-6">
           
                    @Body
                   
            </div>

            <div class="col-md-3"> </div>
        </div>
</div>
   


@code {

}

